.container-score {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-high-score {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    border: 1px solid;
    padding: 2rem 3rem;
    font-size: 2.5rem;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
    right: 5rem;
    top: 5rem;
}

.btn-high-score:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0.4rem 1.4rem 0 var(--rgba-yellow);
    color: var(--rgba-yellow);
}

.display-score {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 4rem;
    color: var(--white);
    margin: 0;

}

.big-C {
    font-size: 2.5rem;
}

.congrat {
    padding-left: 1rem;
    font-size: 1.8rem;
    /* color: var(--rgba-yellow); */
    color: chartreuse;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.trophy {
    font-size: 10rem;

}

.input-button {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

input {

    display: flex;
    width: 30%;
    padding: 1.1rem 2rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgb(86, 185, 235, 0.5);

}

button {
    padding: 2rem 1.3rem;
    font-size: 1.9rem;
    margin-left: 1rem;
    background: var(--rgba-yellow);
    color: var(--white);
    border: none;
    font-weight: bolder;
    cursor: pointer;
    z-index: 999;


}


button:hover {
    background: rgba(110, 110, 13, 0.5);
    --white: #fff;
    ;
    transition: 2s ease-in-out;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;

}

.save-name-score {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: var(--white);
    margin-top: 1rem;


}

@media screen and (max-width: 500px) {
    .container-score {
        min-width: 35rem
    }

    .btn-high-score {
        
        margin-right: 4rem;
        margin-right: 4rem;
          
    }

    .score  {
        padding-left: 5rem;
    }

    button {
     padding: .5rem .5rem;
     font-size: 1.5rem;
    }
}