body {
    background-color: var(--royalblue);
}

.golf {
    display: flex;
    justify-content: space-between;
}

.golf-text {
    text-align: center;
    font-size: 3rem;
    color: var(--white);
}

.golf-main-text {
    text-align: center;
    color: var(--aqua);
    font-size: 3rem;

}

#question {
    color: var(--white);
    font-size: 3.1rem;
    margin-bottom: 1rem;
    text-align: center;

}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4;
    background: var(--rgb-green);
    font-size: 2rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(6, 103, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;

}

.choice-prefix {
    padding: 1rem 1.8rem;
    color: var(--dark-green);
    width: 100%;
}

.display-none {
    display: none;
    
}

.incorrect {
    margin-left: 2rem;
    font-size: 5rem;
    font-weight: bolder;
    color: red;
    padding: 4rem;

}

@media screen and (max-width: 850px) {
    .choice-container {
        min-width: 40rem
    }

    .choice-container {
        min-width: 35rem;
    }
}